div._loading_overlay_wrapper{
    position: unset;
    

    ._loading_overlay_overlay{
        z-index: 100000;
    }
}

.manage-patient-container {
    .manage-patient-title {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }

    .manage-patient-body{
        padding: 0 20px;

        .table-manage-patient{
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
            button{
                border: none;
                outline: none;
                cursor: pointer;

            }

            .mp-btn-confirm{
                margin-right: 10px;
                height: 30px;
                border-radius: 5px;
                background-color: orange;
                
            }

            .mp-btn-remedy{
                height: 30px;
                border-radius: 5px;
                background-color: aqua;

            }
        }
    }
}