table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.btn-edit{
    width: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    color: chocolate;

    &:hover{
        background-color: transparent !important;
        color: orange !important;
    }
}

.btn-delete{
    width: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    color:  firebrick;

    &:hover{
        background-color: transparent !important;
        color: crimson !important;
    }
}