.doctor-detail-container{
    
    margin: 20px 0;

    .intro-doctor{
        margin: 0 100px;
        display: flex;
        .content-left{
            width: 20%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right{
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: 10px;

            .up{
                font-size: 20px;
                font-weight: 600;
                padding-top: 10px;
            }

            .down{
                padding-top: 10px;

                .like-share-plugin{
                    margin: 10px 0 20px 0;
                }
            }
        }
    }

    .schedule-doctor{
        margin: 0 100px;
        display: flex;
        padding: 10px 0;
        min-height: 200px;

        .content-left{
            width: 50%;
        }
        .content-right{
             width: 50%;
        }
    }

    .detail-info-doctor{
        padding: 20px 100px;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        
        h1,h2,
        h3{
            font-size: 17px;
        }
        
        img{
            width: 60%;
        }
    }

    .comment-doctor{
        padding: 10px 100px;
    }
}