.section-about {
  background: #e8f9ff;
  padding: 30px 250px 80px;
}

.section-about-header {
  font-size: 32px !important;
  font-weight: 700 !important;
  text-align: center;
  margin-bottom: 40px;
}

.section-about-content {
  display: flex;
  gap: 60px !important;
  align-items: center;
}

/* video bên trái */
.section-about .content-left {
  flex: 1.2;
}

.video-wrapper {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.video-wrapper iframe {
  width: 100%;
  height: 400px;
  border: none;
  display: block;
}

/* logo báo chí bên phải */
.section-about .content-right {
  flex: 1;
//   width: 90% !important;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 30px;
  row-gap: 30px;
}

.media-item {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.media-item img {
  max-width: 100%;
  max-height: 40px;
  object-fit: contain;
  display: block;
}

.media-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 24px rgba(0, 184, 216, 0.25);
}
