/* style cũ vẫn dùng được, chỉ mở rộng thêm */

.clinic-child {
    padding: 10px;
    cursor: pointer;

    .clinic-card {
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        border: 1px solid #ece4e4;
        display: flex;
        flex-direction: column;
        height: 100%;

        .clinic-img-wrapper {
            width: 100%;
            height: 180px;
            border-radius: 16px 16px 0 0; /* bo viền giống card */
            overflow: hidden; /* quan trọng: cắt ảnh dư */
                
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;  /* ảnh sẽ fill full như bạn muốn */
                object-position: center;
                display: block;
            }
        }
    }

    

    .clinic-name {
        font-size: 16px;
        font-weight: 500;
        padding: 12px 16px 16px;
        margin: 0;
        text-align: center;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .clinic-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }

    .clinic-card:hover .clinic-name {
        color: #45c3d2;
    }
}
