@import "../../styles/common.scss";

.header-containers {
    z-index: 99;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(237, 255, 250);
    color: darken($colormain, 5);
    height: 70px;
    position: relative;

    .btn-logout {
        color: darken($colormain, 5);
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            color: darken($colormain, 20);
        }
        i {
            font-size: $base-size + 10px;
        }
    }

    .languages{
        .welcome{
            margin-right: 30px;
            font-size: 20px !important;
        }
        
        .language-en{
            margin-right: 15px;
            margin-left: 10px;
            opacity: 0.8;
            cursor: pointer;
            font-size: 18px !important;

            &.active{
                color: blue;
                opacity: 1;
            }
            &:hover{
                color: blue;
                opacity: 1;
            }
        }

        .language-vi{
            cursor: pointer;
            opacity: 0.8;
            font-size: 18px !important;

            &.active{
                opacity: 1;
                color: orange;
            }
            &:hover{
                color: orange;
                opacity: 1;
            }
        }
    }
}