@import "../../styles/common.scss";

.sidebar-container{
    width: 100%;

    .header-logos{
        display: flex;
        align-items: center;
        background-color: rgb(237, 255, 250);
        height: 70px;
        width: 100%;

            img{
                height: 70px;
            }
    }
}
